.display {
    font-size:20pt;
    position:relative;
}

.display .full {
    position:absolute;
    left: 280px;
    top: 200px;
    background-color:white;
    border: 2px black solid;
    color: red;
    box-shadow: 2px 2px 5px black;
    opacity:0;
}

.display .item {
    border: 2px solid black;
    margin:3px;
    padding:3px;
    width:230px;
    font-size:12pt;
    display: inline-block;
    background-color:white;
}

.display .item img {
    pointer-events:none;
}

.display .location {
    font-size:18pt;
    text-align:center;
    display: inline-block;
    width: 500px;
    height: 345px;
    border: 2px solid black;
}

.display .location#house {
    background-color: lightblue;
}

.display .location#bag {
    background-color: lightgreen;
}

.display #bag .item {
    opacity:0;
}