.background {
/*    height:520px;*/
    width:420px;
    border:solid gray;
    position:relative;
    background-color:#ACBEDF;
    padding-bottom:20px;
    border-radius:10px;
}

.screen {
    height:200px;
    width:380px;
    border:solid gray;
    margin:18px;
    margin-top:0px;
    border-width:1px;
    border-radius:4px;
/*    text-align:right;*/
/*
    padding-right:50px;
    padding-top:20px;
*/
    background-color: white;
/*    font-size:18pt;*/
}

.errorMsg {
    visibility:hidden;
    font: 20pt "Lucida Grande";
    color: red;
    text-align: center;
    position: relative;
    top:80px;
    left:0px;
}

.row {
    position:relative;
}

button {
    height:35px;
    width:90px;
    /*margin:7px;*/
    margin-left:7px;
    margin-top:10px;
    font-size:18pt;
/*    border-radius:10px;*/
    position:relative;
    left:10px;
/*    background-color:#D4D4D4;*/
}

[data-char=pi]{
    font-family: "Times New Roman";
    position:relative;
    top:-2px;
}

/*
[data-char=e] {
    position:relative;
    top:2px;
}
*/

.equals {
    height:80px;
    position:relative;
    margin-top:-35px;
/*    top:-35px;*/
/*    float:right;*/
/*    left:300px;*/
    vertical-align:bottom;
}